
.top
{
	background-image:url("../img/top-pattern-150.png");
	
}
.top1
{
	background-image:url("../img/header-pattern-150.png");
	
}
.background
{
	background-image:url("../img/intro-background.jpg");
	background-size: cover;
	
}
.slide
{
	background-color: rgba(0,0,0,.6)
}
.back-icon
{
	background-color: rgba(0,0,0,.4)
}


